# Pinata Configuration
VITE_PINATA_JWT=your_pinata_jwt_here
VITE_PINATA_GATEWAY=your_gateway_domain.mypinata.cloud

# ICP Configuration
VITE_DFX_REPLICA_HOST=http://127.0.0.1:4943
VITE_CANISTER_ID_BACKEND=your_backend_canister_id_here
VITE_CANISTER_ID_FRONTEND=your_frontend_canister_id_here
VITE_CANISTER_ID_INTERNET_IDENTITY=be2us-64aaa-aaaaa-qaabq-cai 


